<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Carros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h1>Fabrica de repuestos</h1>
    <h2>Modulo de Carros</h2>
    <a th:href="@{/carronuevo}" class="btn btn-primary">Nuevo</a>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Codigo Universal</th>
            <th>Marca</th>
            <th>Linea</th>
            <th>Modelo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carro:${carros}">
            <td th:text="${carro.id}"></td>
            <td th:text="${carro.codigo_universal}"></td>
            <td th:text="${carro.marca}"></td>
            <td th:text="${carro.linea}"></td>
            <td th:text="${carro.modelo}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/editarcarro/}+${carro.id}">Editar</a>
                <a class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/carros}" class="btn btn-primary">Carros</a>
    <a th:href="@{/listar}" class="btn btn-primary">Clientes</a>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>
</body>
</html>