<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <form th:action="@{/save}" th:object="${clientes}" method="post">
            <div class="card">
                <div class="card-header">
                    <h3>Modulo Clientes</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input class="form-control" type="text" th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" th:field="*{nombre}">
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" th:field="*{direccion}">
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="text" th:field="*{telefono}">
                    </div>
                    <div class="form-group">
                        <label>Dias de entrega</label>
                        <input class="form-control" type="number" th:field="*{entrega}">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="text" th:field="*{password}">
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                </div>
            </div>

        </form>
    </div>
</div>
<hr>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>