<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="cliente:${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.direccion}"></td>
                <td th:text="${cliente.telefono}"></td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>